<section class="welcome-screen">
  <div class="flowers-background">
    <img
      class="flying-turtle"
      src="/assets/flying-turtle.svg"
      (animationiteration)="startTurtleFromNewPosition($event)"
    />
    <mat-card class="welcome-dialog">
      <mat-card-title class="dialog-header">Welcome to Vi Chat!</mat-card-title>
      <div class="name-input">
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input type="text" matInput [formControl]="nameFormControl" placeholder="John Doe">
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button mat-flat-button color="primary" (click)="createSession()">Create Session</button>
        <button mat-flat-button color="primary">Join Session</button>
      </div>
    </mat-card>
  </div>
</section>
