.dialog {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 37rem;
  margin: 0 auto;
  min-height: 20rem;
  border-radius: 1rem;
  .header {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 2.2rem;
  }
  .form {
    text-align: center;
    padding: 1rem 0;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem 3rem 1rem;
    .blue-accent-button {
      background: var(--primaryA700);
    }
  }
}

