.background {
  height: 100%;
  background-color: var(--accent100);
  .content-wrapper {
    width: var(--content-width);
    height: 100%;
    margin: 0 auto;
    background-image:  linear-gradient(
      var(--accent200) 1px, transparent 1px),
      linear-gradient(90deg, var(--accent200) 1px, transparent 1px),
      linear-gradient(var(--accent200) 1px, transparent 1px),
      linear-gradient(90deg, var(--accent200) 1px, var(--accentA100) 1px
    );
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  }
}
