$dark-gray: (
  50 : #e5e5e5,
  100 : #bebebe,
  200 : #939393,
  300 : #676767,
  400 : #474747,
  500 : #262626,
  600 : #222222,
  700 : #1c1c1c,
  800 : #171717,
  900 : #0d0d0d,
  A100 : #91abd3,
  A200 : #6589c1,
  A400 : #4470b4,
  A700 : #2357a7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$lightgreen: (
    50 : #f2fdf2,
    100 : #defade,
    200 : #c8f7c8,
    300 : #b1f3b1,
    400 : #a1f1a1,
    500 : #90ee90,
    600 : #88ec88,
    700 : #7de97d,
    800 : #73e773,
    900 : #61e261,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e8ffe8,
    A700 : #cfffcf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

