// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import './styles/custom-palettes';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vi-chat-primary: mat.define-palette($dark-gray);
$vi-chat-accent: mat.define-palette($lightgreen);
$vi-chat-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vi-chat-theme: mat.define-light-theme((
  color: (
    primary: $vi-chat-primary,
    accent: $vi-chat-accent,
    warn: $vi-chat-warn
  )
));

$vi-chat-typography: mat.define-typography-config(
  // TODO @font-face
  $body-1: mat.define-typography-level(1.4rem, $letter-spacing: normal),
  $caption: mat.define-typography-level(1.2rem, $letter-spacing: normal),
  $button: mat.define-typography-level(1.4rem, $letter-spacing: normal)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
// @include mat.legacy-typography-hierarchy($vi-chat-typography);
@include mat.all-component-typographies($vi-chat-typography);
@include mat.core();
@include mat.all-component-themes($vi-chat-theme);
