@import '~@angular/material/theming';
@import 'src/custom-theme.scss';

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
  --content-width: 100rem;
  --primary400: #{mat-color($vi-chat-primary, 400)};
  --primary500: #{mat-color($vi-chat-primary, 500)};
  --primary900: #{mat-color($vi-chat-primary, 900)};
  --primaryA700: #{mat-color($vi-chat-primary, A700)};
  --accent100: #{mat-color($vi-chat-accent, 100)};
  --accent200: #{mat-color($vi-chat-accent, 200)};
  --accent400: #{mat-color($vi-chat-accent, 400)};
  --accentA100: #{mat-color($vi-chat-accent, A100)};
  --warn100: #{mat-color($vi-chat-warn, 100)};
}

html, body {
  height: 100%;
}
